{% extends 'base.html' %}

{% block title %}{{ departure }}{% endblock %}
{% block content %}

<h1 class="display-5 mt-4 ml-3">Летим <span data-test="from"><b>{{ departure }}</b></span></h1>
<p class="mb-4 ml-3" ><b>Найдено <span data-test="tourcount">{{ tours | length }}</span> тура, </b>от 
<span data-test="pricemin">{{ min_price }}</span> до <span data-test="pricemax">{{ max_price }}</span> 
и от <span data-test="nightsmax">{{ min_nights }}</span> ночей до <span data-test="nightsmax">{{ max_nights }}</span> ночей</p>
<!-- HERO -->

<!-- CARDS -->
<div class="row mt-5" data-test="cards">

  {% for key, tour in tours.items %}
    <div class="col-4" data-test="card">
        <div class="card mb-3" >
          <a href="{% url 'tour' key %}" style="text-decoration: none; color: #000;">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" style="height: 200px;" data-test="picture">
          <div class="card-body">
          <h5 class="card-title">{{ tour.country }}: {{ tour.title }}</h5>
          <p class="card-text">{{ tour.description|truncatechars:100 }}</p>
          <p class="font-weight-bold">
            {{ tour.date }}, {{ tour.nights }} дней, {{ tour.price }} ₽  
            <span class="ml-4">{{ tour.stars }} ★</span>
          </p>
        </a>
        </div>
    </div>
    </div>
  {% endfor %}

</div>    

{% endblock %}