{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}


<!-- HERO -->

<div class="jumbotron text-center mt-4" 
  style="background-image: url(https://images.unsplash.com/photo-1445019980597-93fa8acb246c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-size: cover;">
  <h1 class="display-4">Всякие туры</h1>
  <p class="lead">{{ subtitle }}</p>
  <p class="mt-5 w-50 mx-auto">{{ description }}</p>
</div>

<!-- CARDS -->

<div class="row mt-5" data-test="cards">

    {% for key, tour in tours %}
        {% if tour.title %}

          <div class="col-4" data-test="card">
              <div class="card mb-3" style="height: 400px;">
                  <a href="{% url 'tour' key %}" style="text-decoration: none; color: #000;">
                  <img src="{{ tour.picture }}" class="card-img-top img-fluid" style="height: 200px;" data-test="picture">
                  <div class="card-body" style="padding-bottom: 20px;">
                      <h5 class="card-title">{{ tour.country }}: {{ tour.title }}</h5>
                      <p class="card-text">{{ tour.description|truncatechars:100 }}</p>
                      <p class="font-weight-bold">
                        {{ tour.date }}, {{ tour.nights }} дней, {{ tour.price }} ₽  
                        <span class="ml-4">{{ tour.stars }} ★</span>
                      </p>
                      
                  </div>
                  </a>
              </div>
          </div>

        {% endif %}
    {% endfor %}

</div>

{% endblock %}


